* {
  box-sizing: border-box;
}

header {
    background-color: #0C61B4;
    text-align: center;
	width: 1500px;
    margin: 0 auto;
}


.nav {
  background-color: #1E486F;
  color: #DBBB12;
  width: 1500px;

}

.nav.a {
  float: left;
  display: block;
  color: #DBBB12;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.nav.a:hover {
  background-color: #ddd;
  color: black;

}


button {

	font-size: 15px;
}


 h1 {
 	color: #eee;
 	font-size: 28px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
 	margin: 10px;
 }

body {
 background-color: #efeee7;
 font-family: "Georgia", "Times New Roman", times, serif;
 color: #333333;
 margin: 0px;
 padding: 0px;  
 line-height: 150%; 
 font-size: 18px; 
}


p {
    text-align: left;
    margin: 10%;
}

h2 {
	font-size: 35px;
	margin: 10px;
	text-align: center;
}

.container {
	width: 1000px;
	margin: 0 auto;
}

#main-bio,
#contact-info,
#bio-image {
	float: left;
}

#bio-image {
	width: 200px;
	height: 200px;
	border: solid 5px;
	border-radius: 10%;
	margin: 30px;
	margin-top: 40px;
}

#main-bio {
	width: 30%;
	margin: 30px;
}

#contact-info {
	width: 30%;
	font-size: 14px;
	float: right;
	margin:30px;
  position: relative;
  top: -652px;
  left: 300px;
}


.fa-facebook {
    background: #3B5998;
    color: white;
  }

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}


.fa {
  padding: 20px;
  font-size: 10px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 9px 2px;
}

div {

}


footer {
	background-color: #0C61B4;
    text-align: center;
    color: white;
	width: 1500px;
	height: 80px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    overflow: auto;
   

}
/* Portfolio*/

img {
	border-image: 10px;
	float:left;
	margin: 20px;
}

#prev {
	font-size: 28px;
	text-align: center;
  right: 300px;
}

#image {
	position: :relative;
	width: 100%
}

.wrap {
	width: 72%;
	float: left;
  height: 629px;
  margin-left: 130px;


}
.description {
font-size: 20px;
width: 50px;
text-align: justify;
height: 20px;
color: brown;
display: block;
margin: auto;
}


#ftr {
	position: relative;
}

#portPage {
	margin: 60px;
	position: fixd;
	float; left: 
}

#bucket {
	width: 1000px;
}

